<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div>
            CorporateHomez
        </div>
        <span class="flexExpand"></span>
        <div>
            <button mat-button [routerLink]="['/home']">Home</button>
            <button mat-button [routerLink]="['/profile']">My Profile</button>
            <button mat-button [routerLink]="['/listing']">Create Listing</button>
            <button (click)="logout()" mat-button>Sign Out</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<div class="listing-style">
    <h1>Create Listing</h1>

    <label for="Image">Image File</label>
    <input type="file" (change)="upload($event)" accept="*.png.jpg" id="">
    <button (click)="uploadImage()">Upload Image</button>

</div>

<ng-container *ngIf="logout$ | async"></ng-container>