<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div>
            CorporateHomez
        </div>
        <span class="flexExpand"></span>
        <div>
            <button mat-button [routerLink]="['/home']">Home</button>
            <button mat-button [routerLink]="['/profile']">My Profile</button>
            <button mat-button [routerLink]="['/listing']">Create Listing</button>
            <button (click)="logout()" mat-button>Sign Out</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<br>
<div *ngIf="user$ | async as user">
    <div class="profile-card">
        <mat-card>
            <img src="{{user.photoURL}}" class="profile-pic">
            
            <mat-divider inset></mat-divider>
            <mat-card-header>
                <mat-card-title class="profile-card-title">{{user.displayName}}</mat-card-title>
                <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
</div>
<mat-divider></mat-divider>